/*
Creates outline-style callout formatting using theme colors Red, Orange, Yellow, Green, Blue, Purple, Cyan, Pink, Black, and White
*/

/*--- RED OUTLINE CALLOUT ---*/
.callout[data-callout="outline-red"] {
	--callout-icon: lucide-sparkles;
	--callout-color: var(--color-red-rgb);
	--callout-title-color: var(--callout-color);
	background-color: transparent;
	overflow: visible; 
	border-radius: 2px;
	border: 2px solid rgb(var(--callout-color));
}
.callout[data-callout="outline-red"] > .callout-title {
	box-shadow: none;
	position: relative;
	top: -20px;
	z-index: 200;
	background-color: var(--background-primary);
	margin: 12px 10px 12px 10px;
	padding: 0px 5px 0px 5px;
	width: fit-content;
}
.callout[data-callout="outline-red"] > .callout-content {
	box-shadow: none;
	position: relative;
	top: -40px;
	margin-bottom: -40px;
	background-color: var(--background-primary);
}

/*--- ORANGE OUTLINE CALLOUT ---*/
.callout[data-callout="outline-orange"] {
	--callout-icon: lucide-sparkles;
	--callout-color: var(--color-orange-rgb);
	--callout-title-color: var(--callout-color);
	background-color: transparent;
	overflow: visible; 
	border-radius: 2px;
	border: 2px solid rgb(var(--callout-color));
}
.callout[data-callout="outline-orange"] > .callout-title {
	box-shadow: none;
	position: relative;
	top: -20px;
	z-index: 200;
	background-color: var(--background-primary);
	margin: 12px 10px 12px 10px;
	padding: 0px 5px 0px 5px;
	width: fit-content;
}
.callout[data-callout="outline-orange"] > .callout-content {
	box-shadow: none;
	position: relative;
	top: -40px;
	margin-bottom: -40px;
	background-color: var(--background-primary);
}

/*--- YELLOW OUTLINE CALLOUT ---*/
.callout[data-callout="outline-yellow"] {
	--callout-icon: lucide-sparkles;
	--callout-color: var(--color-yellow-rgb);
	--callout-title-color: var(--callout-color);
	background-color: transparent;
	overflow: visible; 
	border-radius: 2px;
	border: 2px solid rgb(var(--callout-color));
}
.callout[data-callout="outline-yellow"] > .callout-title {
	box-shadow: none;
	position: relative;
	top: -20px;
	z-index: 200;
	background-color: var(--background-primary);
	margin: 12px 10px 12px 10px;
	padding: 0px 5px 0px 5px;
	width: fit-content;
}
.callout[data-callout="outline-yellow"] > .callout-content {
	box-shadow: none;
	position: relative;
	top: -40px;
	margin-bottom: -40px;
	background-color: var(--background-primary);
}

/*--- GREEN OUTLINE CALLOUT ---*/
.callout[data-callout="outline-green"] {
	--callout-icon: lucide-sparkles;
	--callout-color: var(--color-green-rgb);
	--callout-title-color: var(--callout-color);
	background-color: transparent;
	overflow: visible; 
	border-radius: 2px;
	border: 2px solid rgb(var(--callout-color));
}
.callout[data-callout="outline-green"] > .callout-title {
	box-shadow: none;
	position: relative;
	top: -20px;
	z-index: 200;
	background-color: var(--background-primary);
	margin: 12px 10px 12px 10px;
	padding: 0px 5px 0px 5px;
	width: fit-content;
}
.callout[data-callout="outline-green"] > .callout-content {
	box-shadow: none;
	position: relative;
	top: -40px;
	margin-bottom: -40px;
	background-color: var(--background-primary);
}

/*--- BLUE OUTLINE CALLOUT ---*/
.callout[data-callout="outline-blue"] {
	--callout-icon: lucide-sparkles;
	--callout-color: var(--color-blue-rgb);
	--callout-title-color: var(--callout-color);
	background-color: transparent;
	overflow: visible; 
	border-radius: 2px;
	border: 2px solid rgb(var(--callout-color));
}
.callout[data-callout="outline-blue"] > .callout-title {
	box-shadow: none;
	position: relative;
	top: -20px;
	z-index: 200;
	background-color: var(--background-primary);
	margin: 12px 10px 12px 10px;
	padding: 0px 5px 0px 5px;
	width: fit-content;
}
.callout[data-callout="outline-blue"] > .callout-content {
	box-shadow: none;
	position: relative;
	top: -40px;
	margin-bottom: -40px;
	background-color: var(--background-primary);
}

/*--- PURPLE OUTLINE CALLOUT ---*/
.callout[data-callout="outline-purple"] {
	--callout-icon: lucide-sparkles;
	--callout-color: var(--color-purple-rgb);
	--callout-title-color: var(--callout-color);
	background-color: transparent;
	overflow: visible; 
	border-radius: 2px;
	border: 2px solid rgb(var(--callout-color));
}
.callout[data-callout="outline-purple"] > .callout-title {
	box-shadow: none;
	position: relative;
	top: -20px;
	z-index: 200;
	background-color: var(--background-primary);
	margin: 12px 10px 12px 10px;
	padding: 0px 5px 0px 5px;
	width: fit-content;
}
.callout[data-callout="outline-purple"] > .callout-content {
	box-shadow: none;
	position: relative;
	top: -40px;
	margin-bottom: -40px;
	background-color: var(--background-primary);
}

/*--- CYAN OUTLINE CALLOUT ---*/
.callout[data-callout="outline-cyan"] {
	--callout-icon: lucide-sparkles;
	--callout-color: var(--color-cyan-rgb);
	--callout-title-color: var(--callout-color);
	background-color: transparent;
	overflow: visible; 
	border-radius: 2px;
	border: 2px solid rgb(var(--callout-color));
}
.callout[data-callout="outline-cyan"] > .callout-title {
	box-shadow: none;
	position: relative;
	top: -20px;
	z-index: 200;
	background-color: var(--background-primary);
	margin: 12px 10px 12px 10px;
	padding: 0px 5px 0px 5px;
	width: fit-content;
}
.callout[data-callout="outline-cyan"] > .callout-content {
	box-shadow: none;
	position: relative;
	top: -40px;
	margin-bottom: -40px;
	background-color: var(--background-primary);
}

/*--- PINK OUTLINE CALLOUT ---*/
.callout[data-callout="outline-pink"] {
	--callout-icon: lucide-sparkles;
	--callout-color: var(--color-pink-rgb);
	--callout-title-color: var(--callout-color);
	background-color: transparent;
	overflow: visible; 
	border-radius: 2px;
	border: 2px solid rgb(var(--callout-color));
}
.callout[data-callout="outline-pink"] > .callout-title {
	box-shadow: none;
	position: relative;
	top: -20px;
	z-index: 200;
	background-color: var(--background-primary);
	margin: 12px 10px 12px 10px;
	padding: 0px 5px 0px 5px;
	width: fit-content;
}
.callout[data-callout="outline-pink"] > .callout-content {
	box-shadow: none;
	position: relative;
	top: -40px;
	margin-bottom: -40px;
	background-color: var(--background-primary);
}

/*--- BLACK OUTLINE CALLOUT ---*/
.callout[data-callout="outline-black"] {
	--callout-icon: lucide-sparkles;
	--callout-color: var(--mono-rgb-0);
	--callout-title-color: var(--callout-color);
	background-color: transparent;
	overflow: visible; 
	border-radius: 2px;
	border: 2px solid rgb(var(--callout-color));
}
.callout[data-callout="outline-black"] > .callout-title {
	box-shadow: none;
	position: relative;
	top: -20px;
	z-index: 200;
	background-color: var(--background-primary);
	margin: 12px 10px 12px 10px;
	padding: 0px 5px 0px 5px;
	width: fit-content;
}
.callout[data-callout="outline-black"] > .callout-content {
	box-shadow: none;
	position: relative;
	top: -40px;
	margin-bottom: -40px;
	background-color: var(--background-primary);
}

/*--- WHITE OUTLINE CALLOUT ---*/
.callout[data-callout="outline-white"] {
	--callout-icon: lucide-sparkles;
	--callout-color: var(--mono-rgb-100);
	--callout-title-color: var(--callout-color);
	background-color: transparent;
	overflow: visible; 
	border-radius: 2px;
	border: 2px solid rgb(var(--callout-color));
}
.callout[data-callout="outline-white"] > .callout-title {
	box-shadow: none;
	position: relative;
	top: -20px;
	z-index: 200;
	background-color: var(--background-primary);
	margin: 12px 10px 12px 10px;
	padding: 0px 5px 0px 5px;
	width: fit-content;
}
.callout[data-callout="outline-white"] > .callout-content {
	box-shadow: none;
	position: relative;
	top: -40px;
	margin-bottom: -40px;
	background-color: var(--background-primary);
}
